:root {
  --main-blue: #302681;
  --main-white: #ffffff;
  --main-text: black;
  --secondary-text: #ffcb00;
  --accent-text: #fc9126;

  --heading-font: 'Salsa', serif;
  --paragraph-font: 'Roboto', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--paragraph-font);
}

header {
  background-color: var(--main-blue);
  color: var(--secondary-text);
  display: flex;
  justify-content: space-between;
}

main {
  background-color: var(--brazil-yellow);
  color: var(--main-text);
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  padding: 20px;
  font-family: var(--heading-font);
}

h2 {
  padding: 15px;
  font-family: var(--heading-font);
}

img {
  width: 100%;
  height: auto;
  /* margin: 0.5rem; */
}

footer {
  background-color: var(--main-blue);
  color: var(--secondary-text);
  padding: 20px 0;
  word-spacing: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  padding: 25px;
  place-items: center;
}

.navigation {
  list-style: none;
  display: none;
  background-color: var(--nav-background-color);
  align-items: center;
  font-size: 1.5rem;
}

.navigation a {
  flex: 1 1 100%;
  display: block;
  color: var(--nav-link-color);
  padding: 0.75rem;
  text-decoration: none;
}

.navigation a:hover {
  font-weight: 700;
  color: var(--accent-text);
  text-decoration: underline;
}

.title {
  display: none;
}

.show {
  display: block;
}

.mobile-menu {
  display: block;
  min-width: 80%;
  font-size: 2rem;
  font-weight: 700;
  margin: 5px auto;
}

#menu.show::before {
  content: 'X';
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  margin-left: -50px;
  color: var(--secondary-text);
}

#menu::before {
  content: '≡';
}
